body{
    height: 100vh;
}

.jumbotron {
    margin: 0 auto;
    margin-top: 10%;
    width: 60vw;
}

.jumboBlood {
    background-color: maroon;
    color: antiquewhite;
}

.jumboBlood ul li {
    background-color: rgb(33, 32, 41);
}

.controls {
    float: right;
}

/* .list-group-item {
    text-anchor: end;

} */
